<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body ng-controller="mainCtrl">

    <div class="page-header">
      <center>
        <img src="img/14647461_1278054412224883_541859586_o.png" alt="logo" align="middle" style="width:304px;height:228px;">
      </center>
    </div>
    <div class="container" style="margin-bottom: 30px;">
    <div class="row">
      <div class="col-xs-3">
        <h3>Clients</h3>
        
        <uib-tabset active="activeUser" vertical="true" type="pills">
          <uib-tab ng-repeat="(key, user) in users" index="key" heading="{{ users[key].name }}">
          </uib-tab>
        </uib-tabset>
      </div>
    
      <div class="col-xs-9">
        <h3>Messages</h3>
        <ul>
          <li ng-if="users[activeUser].messages.length === 0">No messages</li>
          <li ng-repeat="message in users[activeUser].messages" ng-class="{ user: !message.bot, bot: message.bot }">
            <span class="label label-primary">{{ message.text }}</span>
          </li>
          <!--<li><span class="label label-primary">Demo</span></li>-->
          <!--<li><span class="label label-primary">Demo2</span></li>-->
        </ul>
      
        <form ng-submit="send(text)">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="text" placeholder="Message">
            <!--<input type="submit" class="btn btn-primary" value="Send" ng-disabled="!text">-->
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" ng-disabled="!text">Send</button>
            </span>
          </div>
        </form>
       
        
        <h3>Suggestions</h3>
        <p ng-if="users[activeUser].suggestions.length === 0">No suggestions</p>
        <!--<button type="button" class="btn btn-success">Demo</button>-->
        <!--<button type="button" class="btn btn-success">Demo 2</button>-->
        <button type="button" class="btn btn-success" ng-repeat="suggestion in users[activeUser].suggestions" ng-click="useSuggestion(suggestion)">{{ suggestion }}</button>
        
      </div>
      
      
      
    </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap.min.js"></script>-->
    <script src="/script.js"></script>
  </body>
</html>
