h3, p, li, button {
    font-family: 'Roboto', sans-serif;
}

.user {
    text-align: left;
}

.bot {
    text-align: right !important;
}

.alert {
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

.label {
    font-size: 100%;
}

.label-primary,
.nav-pills > li.active > a,
.btn-primary {
    background-color: #24B4D5;
}

a {
    color: #24B4D5;
}

.user-name {
    font-weight: bold;
}

.user-image {
    height: 40px;
    padding-right: 10px;
}